@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container mt-5 p-5 border bg-light shadow-lg rounded-1">
    <h1 class="">Manage your account</h1>

    <div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
