@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}


<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form class="p-5 border-1 rounded-1 bg-light shadow-lg" method="post" asp-action="Login">
                <h2 class="text-center">Welcome back</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <label class="form-check-label" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                    </div>
                </div>
                <div class="mb-3">
                    <button id="login-submit" type="submit" class="btn btn-primary w-100">Log in</button>
                    <a class="btn btn-primary w-100 mt-1" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </div>
                <div class="text-center mt-3">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-link">Forgot your password?</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="btn btn-link">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
