@page "/"
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>
<div class="container min-vh-100">
    <p>@name</p>
</div>


@code {

    private string name = string.Empty;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (authenticationStateTask != null)
        {
            var user = (await authenticationStateTask).User;

            if (user.Identity != null && user.Identity.Name != null && user.Identity.IsAuthenticated)
            {
                name = $"Welcome {user.Identity.Name}";
            }
            else
            {
                name = "Please, login.";
            }
        }

    }

}
