@page "/logout"

<AuthorizeView>
    <Authorized>
        <div class="position-fixed bottom-0 end-0 m-2">
            <div class="position-relative">
                <form class="input-group" method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="btn btn-danger">Log out</button>
                </form>
            </div>
        </div>
    </Authorized>
</AuthorizeView>


@{
    
}
