@page "/login"

<AuthorizeView>
    <Authorized>
        <div class="position-fixed top-0 end-0 mt-5">
            <div class="col-12 border">
                <form class="input-group" method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="btn btn-outline-danger">Log out</button>
                </form>
            </div>
        </div>
        <a class="btn btn-outline-primary" href="Identity/Account/Manage">Account</a>
    </Authorized>

    <NotAuthorized>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-6 border text-center bg-light rounded-1 p-5 shadow-sm">
                <a class="btn btn-outline-primary" href="Identity/Account/Register">
                    Register
                </a>
                <a class="btn btn-outline-primary" href="Identity/Account/Login">
                    Log in
                </a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


@{
    
}
